/aclocal.m4
/config.guess
/config.sub
/config.h.in
/config.h.in~
/configure
/Makefile.in
/autom4te.cache/
/build
/test

deps/boost_1_65_0/bin.v2/libs/
deps/boost_1_65_0/project-config.jam.5
deps/boost_1_65_0/stage/

*.wav
*.log
*.o
*.lo
*.so.*
.DS_Store
*~
.deps
